.require {
  color: red;
}

[class^="el-icon-fa"],
[class*=" el-icon-fa"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.table-header-style-lightblue {
  background-color: lightblue;
  color: #fff;
  font-wight: 300;
  font-size: 14px;
  text-align: center
}

.table-header-style-grey {
  font-wight: 300;
  font-size: 14px;
  text-align: center !important
}


.el-input-width-150 {
  width: 150px;
}

.el-input-width-200 {
  width: 200px;
}

.el-input-width-250 {
  width: 250px;
}

.el-input-width-300 {
  width: 300px;
}
.el-input-width-400 {
  width: 400px;
}


